{{#> layout}}
    {{#*inline "pageContent"}}
        <!-- External scripts -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
        <!-- External stylesheets -->
        <link href="/css/test.css" rel="stylesheet">

        <!-- Navigation section -->
        <div style="color: #1A1A1A; margin-left: 20px; font-size: 17px">
            <a class="link-without-underline" href="/" style="color: #1A1A1A">Home</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
            <a class="link-without-underline" href="/tests" style="color: #1A1A1A">Tests</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
            </svg>
            <span style="color: green; font-weight: bold;">Test Exam</span>
        </div>

        <!-- Title -->
        <h2>Exam</h2>

        <!-- Pagination -->
        <div class="pagination">
            <div class="pagination-row">
                {{#each test.items as |item index|}}
                    <button
                            class="pagination-button
            {{#if (eq ../currentQuestionIndex index)}}current
            {{else}}{{#if (eq item.user_answer item.question.q_correct_answer)}}correct
            {{else}}{{#if (and (neq item.user_answer null) (neq item.user_answer item.question.q_correct_answer))}}incorrect{{/if}}{{/if}}{{/if}}"
                            onclick="navigateToQuestion({{../test.test_id}}, {{index}})">
                        <span class="pagination-text">{{add index 1}}</span>
                    </button>
                {{/each}}
            </div>
        </div>

        <!-- Question Block -->
        <div class="question-block">
            <div class="question-content">
                <!-- Timer Display -->
                <div id="timer" style="font-size: 20px; color: red;"></div>
                <!-- Question Number and Theme -->
                <h6>{{add 1 currentQuestionIndex}} question from theme {{current_theme}}</h6>
                <!-- Question Content -->
                <h5>{{currentQuestion.question.q_content}}</h5>
            </div>
            <!-- Question Image -->
            {{#if currentQuestion.question.q_image}}
                <div class="question-image">
                    <img src="data:image/png;base64,{{hexToBase64 currentQuestion.question.q_image}}" alt="Question Image">
                </div>
            {{/if}}
            <!-- Answer Choices -->
            <div class="question-answers">
                {{#if currentQuestion.question.q_answer1}}
                    <button class="answer-button" data-answer="1">{{currentQuestion.question.q_answer1}}</button>
                {{/if}}
                {{#if currentQuestion.question.q_answer2}}
                    <button class="answer-button" data-answer="2">{{currentQuestion.question.q_answer2}}</button>
                {{/if}}
                {{#if currentQuestion.question.q_answer3}}
                    <button class="answer-button" data-answer="3">{{currentQuestion.question.q_answer3}}</button>
                {{/if}}
                {{#if currentQuestion.question.q_answer4}}
                    <button class="answer-button" data-answer="4">{{currentQuestion.question.q_answer4}}</button>
                {{/if}}
                {{#if currentQuestion.question.q_answer5}}
                    <button class="answer-button" data-answer="5">{{currentQuestion.question.q_answer5}}</button>
                {{/if}}
                <!-- End Test Button -->
                <button id="end-button" class="btn btn-success end-test-button"
                    {{#if test.is_done}} onclick="endTest({{test.test_id}}, 'Results', false)"
                    {{else}} onclick="endTest({{test.test_id}}, 'Test completed!', true)"> End Test{{/if}}</button>
            </div>
        </div>

        <!-- End Test Modal -->
        <div id="endTestModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h6 id="resultsTitle"></h6>
                <p>Questions answered: <span id="answeredQuestions"></span></p>
                <div class="chartCard">
                    <div class="chartBox">
                        <canvas id="resultChart"></canvas>
                    </div>
                </div>
                <button class="btn btn-success" onclick="window.location.href = `/tests/exam`">Take another exam!</button>
            </div>
        </div>

        <!-- Academic Integrity Modal -->
        <div id="integrityModal" class="academic-modal">
            <div class="academic-modal-content">
                <span class="academic-close" onclick="closeIntegrityModal()">&times;</span>
                <h6>Please adhere to academic integrity.</h6>
                <img src="/images/academic.gif" alt="meow" style="width:100%;">
            </div>
        </div>

        <!-- JavaScript -->
        <script>
            // JavaScript code for exam functionality
        </script>
    {{/inline}}
{{/layout}}
